<!DOCTYPE html>
<html>
        <head>
            <title>Halaman Home</title>
            <link rel="stylesheet" href="./assets/css/design.css">
        </head>
        <body>
            <div id="navbar">
                    <ul>
                            <li><a class="home" href="#">HOME</a></li>
                            <li><a class="post"href="#">TAMBAH POST</a></li>
                    </ul>
            </div>
            <header>
                <h1 class="heading">ini adalah home</h1>
            </header>

            <ul class="artikel-container">
                <% artikel.forEach(function(elemen) { %>
                    <li class="artikel">
                        <a class="judul" href="/detail-artikel/<%= elemen.id_artikel %>">
                            <%= elemen.title %>
                        </a>
                        <p class="content">
                            <%= elemen.content %>
                        </p>  
                    </li>
               <% }) %>
            </ul>
            <div class="footer">

            </div>
        </body>
</html>